@import url('https://fonts.googleapis.com/css2?family=Italiana&display=swap');

body {
    line-height: 1;
    background-color: #f6f6f6;
}

*{
  box-sizing: border-box;
  font-family: "Italiana",serif;
}